/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* ----common styles----- */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}
/* ---------
header styles
---------- */
nav{
    padding-left: 150px;
    margin: 80px 0px;
}
.header-detail{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 1200px;
    padding-left: 150px;
}
.head-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.head-info h1{
    font-size: 52px;
    margin: 0;
}
.head-info p{
    margin-bottom: 30px;
}
.head-info a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #E02C6D;
    width: 130px;
    padding: 10px 30px;
    border-radius: 40px;
}
.head-pic{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: transform 2s;
}
.head-pic:hover{
    transform: scale(1.20) rotate(360deg);
} 
/*--------------
 section popular collection 
 -------------- */
main{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-title{
    font-size: 35px;
    text-align: center;
    margin-top: 150px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.product{
    width: 330px;
    margin: 15px;
    box-shadow: 5px 5px 20px gray;
    padding-left: 30px;
    padding-top: 20px;
    border-radius: 10px;
}
.fa-star{
    font-size: 16px;
    color: gold;
}
.rating-number{
    padding-left: 5px;
}
.see-more-anchor{
    text-align: right;
    margin-bottom: 60px;
    margin-right: 60px;
}
.see-more-anchor a{
    text-decoration: none;
    color: #E02C6D;
} 
/* -----horizontal line------- */
.line{
    width: 1200px;
    height: 0px;
    border: 1px solid steelblue;
}
/* ---------
sign up section
------------ */
.sign-up{
    margin-top: 30px;
    margin-bottom: 80px;
    width: 1000px;
    border-radius: 15px;
    padding-left: 150px;
}
input{
    padding: 10px 70px;
    border-radius: 15px;
}
.signup-button{
    color: white;
    background-color: #E02C6D;
    border: none;
    border-radius: 15px;
    margin-left: 10px;
}
.caution{
    margin-top: 0;
}
.highlight{
    color: #E02C6D;
    font-size: 40px;
}
 /*--------
    footer
 --------  */
footer{
    color: white;
    background: steelblue;
    text-align: center;  
}
.social-media{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
.footer-property{
    padding: 20px 0;
}
/* ------------
media queries
--------------- */
@media (max-width:688px) {
body{
    margin: 0%;
    padding: 0%;
}
.container{
    max-width: 688px;
}
nav{
    margin-left: 300px;
    width:500px ;
}
.header-detail{
    grid-template-columns: 1fr;
    margin-left: 150px;
}
.head-info{
    margin-bottom: 50px;
}
.products{
    grid-template-columns: 1fr;
}
.popular-collection{
    margin-left: 800px;
}
.see-more-anchor{
    margin-right: 70px ;
}
.sign-up{
    margin-left: 900px;  
}
}